<html>
<head>
    <title>Images</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8">
            {% if imgs %}
                <table border="2px">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                {% for i in imgs %}
                    <tbody>
                        <tr>
          <td>{{ i.name }}</td>
          <td><img src="{{ i.hotel_Main_Img.url }}" class="img-responsive"
                   style="width: 100%; float: left;margin-right: -20px;" /></td>
                        </tr>
                    </tbody>
                {% endfor %}
                </table>
            {% else %}
            <h2>No Images</h2>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>